body{

}

#main_table{
    border-collapse: collapse;
}

#banner_main{
    
}

th{
    background-color: lightgray;
}

th,td{
    border: solid 5px;
    font-size: 100px;
    padding: 3px;
    text-align: center;
}

.number{
    width: 300px;
}

.temp{
    width: 500px;
    font-size: 110px;
}